<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Evento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title class="ion-padding">{{ evento?.nombre }}</ion-card-title>
    <ion-card-content>
      <div class="ion-padding-vertical">
        <div class="ion-padding-horizontal">
          <p>Hora: {{ evento?.fecha | date:'dd/MM/YYYY h:mm a' }}</p>
          <p>Precio: {{ evento?.precio | currency: '$' : 'symbol' : '1.0-0' }}</p>
        </div>
        <ion-chip color="success">Costo: {{ evento?.costo | currency: '$' : 'symbol' : '1.0-0'}}</ion-chip> <br/>
        <!-- <p>Comentarios: {{ ( taller | async)?.comentarios }}</p> -->
        <ion-chip [color]="evento?.ingresos <= 0 ? 'danger': 'success'">
          Cantidad de Ingresos: {{ evento?.ingresos | currency: ' $' : 'symbol' : '1.0-0' }}
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
