<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block"
                      (click)="goTo('event-create')"
                      color="primary">
            Guardar un evento
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block"
                      (click)="goTo('event-list')"
                      color="danger">
            Ver los eventos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
